<div class="container">

  <div class="starter-template">
    <h1>Wait and Dine</h1>
    <p class="lead">The Smart Waiting List</p>
            <button type="button" class="btn btn-primary btn-lg">Get Started Now</button>

  </div>
</div><!-- /.container -->


 <div class="row">
  <div class="col-md-4">
  	<h2>Ditch the line</h2>
  	<p>You will be notified when the table is ready for you</p>
  </div>
  <div class="col-md-4">
  	<h2>Communicate Instantly</h2>
  	<p>You will stay connected with your waiting customers</p>
  </div>
  <div class="col-md-4">
  	<h2>Keep customers happy</h2>
  	<p>Better waiting = Happier customers</p>
  </div>
</div>